main {

    padding-top: 70px;
}
@font-face {
    font-family: 'Callme';
    src: url('fontes/callme_script-webfont.woff') format('woff');
    src: url('fontes/callme_script-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* adicionar imagem de fundo no site  */





body {
   
}
h1
{
    font-family: 'Callme';
}


.navbarnav {
    background-color: maroon;
    color: rgb(230, 240, 226);
}

.bg-custom-red {
    background-color: red;
    /* Cor vermelha */
}

.breadcrumb a {
    color:floralwhite; /* Muda a cor do texto para branco */
    
}
.breadcrumb-item.active {
    color:floralwhite; 
}
.carousel-inner img{
    height: 800px;
    object-fit: convert;

}
.img-container{
    height: 300px;
    object-fit: cover;
  
}
.img-container img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.fs-1{
    font-family: 'Callme';
    src: url('fontes/callme_script-webfont.woff') format('woff');
    src: url('fontes/callme_script-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



h1{
  
    font-family: 'Callme';
    

    
}

