main {

    padding-top: 70px;
}


/* adicionar imagem de fundo no site  */
body {
    background-image: url(img/paineldehamburgueria.jpg);
    background-size:auto;


}

.navbarnav {
    background-color: maroon;
    color: rgb(230, 240, 226);
}